<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/static/favicon.ico">
		<link type="text/css" rel="stylesheet" href="/static/main.css">
		<meta charset="utf-8">
		<title>NDN-Health | 404</title>
	</head>
	<body>
		<header>
            <div class="loginArea">
             <!--       <a href="/profile">View Profile</a> |
                    {{user.userName}} (<a href="/logout">logout</a>)
          -->        <a href="/login">login</a> |
                  <a href="/signup">signup</a>
            </div>
            <h1 class="midform"><a href="/">NDN-Health</a></h1>
            <hr>
        </header>
		<p>
            404: Page does not exist!
		</p>
        <br>
	</body>
</html>