<!DOCTYPE HTML>
<html>

<head>
  <title>NDN-Health | Signup</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="public/static/bootstrap/css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1>NDN-Health</h1>

      </div>
       <div class="loginArea">
          <a href="/login">login</a> |
            <a href="/signup">signup</a>
        </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="/document">Documentation</a></li>
           <li><a href="/test">Test</a></li>
          <li><a href="/contact">Contact Us</a></li>
   <!--  <li><a href="/profile">Profile</a></li>-->
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="sidebar_container"></div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Sign Up </h1>
        <p>&nbsp;</p>

        <form action="#" method="post">
          <div class="form_settings">
            <p><span>User Name</span>
              <input class="contact" type="text" name="user_name" value="" /></p>
            <p><span>Password</span><input class="contact" type="text" name="user_password" value="" /></p>
            <p><span>Verify Password</span><input class="contact" type="text" name="user_password" value="" /></p>
            <p><span>Email Address</span><input class="contact" type="text" name="user_email" value="" /></p>
            <p><span>User Type</span>
            <input class="contact" type="radio" name="user_type" value="p">
                <label for="p">Patient</label> 
            <input class="contact" type="radio" name="user_type" val="d">
                <label for="d">Doctor</label>
            </p>
            
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="submit" /></p>
          </div>
        </form>
        <p>&nbsp;</p>
        <p>&nbsp;</p>

        
      </div>
    </div>
    <div id="footer">
    <p id="footer_time" align="center" ></p>
			<script>
				document.getElementById("footer_time").innerHTML = Date();
			</script>

      <p></p>
    </div>
  </div>
</body>
</html>
