<!DOCTYPE html>
<html>
<head>
    <title>PHINet | Doctors</title>
    <meta content="website description" name="description">
    <meta content="website keywords, website keywords" name="keywords">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'
    type='text/css'>
    <link href="public/static/bootstrap/css/style.css" rel="stylesheet" type=
    "text/css">
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <a href="/"><h1>PHINet</h1></a>

            </div>

            <div class="loginArea">
                <% if(user) { %><%= user %> | <a href="/logout">logout</a>
                <% } else { %> <a href="/login">login</a> | <a href=
                "/signup">signup</a> <% } %>
            </div>
            
            <br><br>

            <div id="menubar">
                <ul id="menu">

                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/faq">FAQ</a>
                    </li>

                    <li>
                        <a href="/test">Test</a>
                    </li><% if(user) { %>

                    <li>
                        <a href="/profile">Profile</a>
                    </li>

                    <li>
                        <a href="/viewdata">Data</a>
                    </li>
                    <% } %>
                    <% if(user && userIsPatient) { %>
                    <li class="current" >
                        <a href="/doctors">Doctors</a>
                    </li>
                    <% } %>
                    <% if (user && !userIsPatient) { %>
                    <li >
                        <a href="/patients">Patients</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>

        <div id="site_content">
            <div id="content">

                <h1>Your Doctors</h1>
                <hr>
                <br>
                <% if(doctors.length > 0)  { %> 
                 <ul>
               
                    <% for(var i=0; i<doctors.length; i++) {%>
                       <li class="large_red"> 
                            <%= doctors[i]%>
                        </li>
                    <% } %>
                    
                </ul>
                <% } else { %>

                <p class="large_red"> You have no doctors</p>

                <% } %>
                <br>
                 <hr>

                <br>
                <br>

                <form action="/addDoctor" method="post">
                    <div class="form_settings">
                        <div class='well'>
                            <div class="row">
                                <div class='block_inline'>
                                   <span> Doctor Name:</span>
                                </div>

                                <div class='block_inline'>
                                    <input class="contact" name="doctor_name"
                                           type="text" value="">
                                </div>
                            </div>

                            
                        </div>
                        <br>
                        <input class="submit" name=
                                "doctor_submit" type="submit" value="Add Doctor">
                    </div>
                </form>
                <br>
                <% if(error) { %>

            <p class="error"><%= error %></p><% } else {%><br>
            <% } %>
            <br>

            </div>
        </div>
    </div>
</body>
</html>