<!DOCTYPE html>
<html>
<head>
    <title>PHINet | Profile</title>
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'
          type='text/css'>
    <link href="/public/static/bootstrap/css/style.css" rel="stylesheet" type=
            "text/css">
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <a href="/"><h1>PHINet</h1></a>
        </div>

        <div class="loginArea">
            <% if(user) { %><%= user %> | <a href="/logout">logout</a>
            <% } else { %> <a href="/login">login</a> | <a href=
                                                                   "/signup">signup</a> <% } %>
        </div>

        <br><br>

        <div id="menubar">
            <ul id="menu">

                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/faq">FAQ</a>
                </li>

                <!--<li>
                    <a href="/test">Test</a>
                </li>--><% if(user) { %>

                <li class="current">
                    <a href="/profile">Profile</a>
                </li>

                <li>
                    <a href="/viewdata">Data</a>
                </li>
                <% } %>
                <% if(user && userIsPatient) { %>
                    <li >
                        <a href="/doctors">Doctors</a>
                    </li>
                    <% } %>
                    <% if (user && !userIsPatient) { %>
                    <li >
                        <a href="/patients">Patients</a>
                    </li>
                    <% } %>
            </ul>
        </div>
    </div>

    <div id="site_content">
        <div id="sidebar_container"></div>

        <div id="content">

            <h1>Profile</h1>
            <hr>
            <br>

            <div class='well'>
                <div class="row">
                    <div class='block_inline'>
                        <span class="large_red_padding_right">Name:</span>
                    </div>

                    <div class='block_inline'>

                        <% if(user) { %><b><%= user %> </b>
                            <% } %>
                    </div>
                </div>

                <div class="row">
                    <div class='block_inline'>
                        <span class="large_red_padding_right">Email:</span>
                    </div>

                    <div class='block_inline'>
                        <% if(email) { %><b><%= email %></b>
                        <% } %>
                    </div>
                </div>

                <div class="row">
                    <div class='block_inline'>
                        <span class="large_red_padding_right">User Type:</span>
                    </div>

                    <div class='block_inline'>
                        <% if(type) { %><b><%= type %></b>
                        <% } %>
                    </div>
                </div>
            </div>

            <!--
            <br>
            <input class="profile_btn" value="Edit">
            
            <input class="profile_btn" value="Reset PW">
-->
            <br>
        </div>
    </div>
</div>
</body>
</html>