<!DOCTYPE html>
<html>
<head>
    <title>PHINet | Signup</title>
    <meta content="website description" name="description">
    <meta content="website keywords, website keywords" name="keywords">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'
          type='text/css'>
    <link href="public/static/bootstrap/css/style.css" rel="stylesheet" type=
            "text/css">
</head>

<body>
<div id="main">
    <div id="header">
        <div id="logo">
            <a href="/"><h1>PHINet</h1></a>
        </div>

        <div class="loginArea">
            <% if(user) { %><%= user %>| <a href="/logout">logout</a>
            <% } else { %> <a href="/login">login</a> | <a href=
                                                                   "/signup">signup</a> <% } %>
        </div>

        <div id="menubar">
            <ul id="menu">
                <li>
                    <a href="/">Home</a>
                </li>

                <li>
                    <a href="/faq">FAQ</a>
                </li>

                <li>
                    <a href="/test">Test</a>
                </li><% if(user) { %>

                <li>
                    <a href="/profile">Profile</a>
                </li>

                <li>
                    <a href="/viewdata">Data</a>
                </li><% } %>
            </ul>
        </div>
    </div>

    <div id="site_content">
        <div id="sidebar_container"></div>

        <div id="content">
            <h1>Sign Up</h1>
            <hr>
            <br>

            <form action="/registerAction" method="post">
                <div class="form_settings">
                    <div class='well'>
                        <div class="row">
                            <div class='block_inline'>
                                <span> User Name </span>
                            </div>

                            <div class='block_inline'>
                                <input class="contact" name="user_name"
                                       type="text" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class='block_inline'>
                               <span> Password </span>
                            </div>

                            <div class='block_inline'>
                                <input class="contact" name="user_password"
                                       type="password" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class='block_inline'>
                                <span>  Verify Password </span>
                            </div>

                            <div class='block_inline'>
                                <input class="contact" name="user_password"
                                       type="password" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class='block_inline'>
                                <span> Email (Optional) </span>
                            </div>

                            <div class='block_inline'>
                                <input class="contact" name="user_email"
                                       type="email" value="">
                            </div>
                        </div>

                        <div class="row">
                            <div class='block_inline'>
                                User Type
                            </div>

                            <div class='block_inline'>
                                <input class="user_type_input" name=
                                        "user_type" type="radio" value="p">
                                <label for="p">Patient</label>
                            </div>

                            <div class='block_inline'>
                                <input class="user_type_input" name=
                                        "user_type" type="radio"> <label for="d">Doctor</label>
                            </div>
                        </div>
                    </div>

                    <br>
                    <input class="submit" name=
                            "contact_submitted" type="submit" value="submit">
                </div>
            </form><% if(error) { %>

            <p class="error"><%= error %></p><% } else { %><br>
            <% } %>
        </div>
    </div>
</div>
</body>
</html>