<!DOCTYPE HTML>
<html>

<head>
  <title>PHINet | TEST</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="public/static/bootstrap/css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <h1>PHINet</h1>
        <div class="slogan"></div>
      </div>
       <div class="loginArea">
           <% if(user) { %>
             <%= user %> |   <a href="/logout">logout</a>
            <% } else { %>

          <a href="/login">login</a> |
            <a href="/signup">signup</a>

        <% } %>
        </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="current" in the li tag for the selected page - to highlight which page you're on -->
          <li><a href="/">Home</a></li>
          <li><a href="/document">Documentation</a></li>
           <li class="current"><a href="/test">Test</a></li>
          <li><a href="/contact">Contact Us</a></li>
   <!--  <li><a href="/profile">Profile</a></li>-->
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="sidebar_container"></div>
      <div id="content">
        <!-- insert the page content here -->
        <h1>Testing</h1>
        <hr>
        <br>
        <p>Content coming soon...</p>
        <br><br><br><br>
        <br><br><br><br>
        <br><br><br><br>
      </div>
    </div>
    <div id="footer">
     <p id="footer_time" align="center" ></p>
			<script>
				document.getElementById("footer_time").innerHTML = Date();
			</script>
      <p></p>
    </div>
  </div>
</body>
</html>