<!DOCTYPE html>
<html>
<head>
    <title>PHINet | View Data</title>
    <meta content="website description" name="description">
    <meta content="website keywords, website keywords" name="keywords">
    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'
          type='text/css'>
    <link href="/public/static/bootstrap/css/style.css" rel="stylesheet" type=
            "text/css">
</head>

<body>
    <div id="main">
        <div id="header">
            <div id="logo">
                <h1>PHINet</h1>
            </div>

            <div class="loginArea">
                <% if(user) { %><%= user %> | <a href="/logout">logout</a>
                <% } else { %> <a href="/login">login</a> | <a href=
                                                                       "/signup">signup</a> <% } %>
            </div>

            <div id="menubar">
                <ul id="menu">

                    <li>
                        <a href="/">Home</a>
                    </li>

                    <li>
                        <a href="/document">Documentation</a>
                    </li>

                    <li>
                        <a href="/test">Test</a>
                    </li><% if(user) { %>

                    <li>
                        <a href="/profile">Profile</a>
                    </li>

                    <li class="current">
                        <a href="/viewdata">Your Data</a>
                    </li>
                    <% } %>

                    <li>
                        <a href="/contact">Contact Us</a>
                    </li><!--  <li><a href="/profile">Profile</a></li>-->
                </ul>
            </div>
        </div>

        <div id="site_content">
            <div id="sidebar_container"></div>

            <div id="content">

                <h1>View Data</h1>
                <hr>

                <p>&nbsp;</p>

                <p>Content coming soon...</p>

                <canvas id="myChart" width="800" height="400"></canvas>

                <p>&nbsp;</p>
            </div>
        </div>

        <div id="footer">
            <p id="footer_time" style="text-align: center"></p><script>
            document.getElementById("footer_time").innerHTML = Date();
        </script>

            <p></p>
        </div>
    </div>


    <script>
        // define variable using server-side data so that it can be accessed in graph_data.js
        var queryData = JSON.parse('<%- data %>');
    </script>

    <!--
    <script src="/public/static/bootstrap/js/Chart.min.js"></script>
    <script type="text/javascript" src="/public/static/bootstrap/js/graph_data.js"></script>
    -->
</body>
</html>