<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/static/favicon.ico">
		<link type="text/css" rel="stylesheet" href="/static/main.css">
		<meta charset="utf-8">
		<title>NDN-Health | Main</title>
	</head>
	<body>
        <header>
             <div class="loginArea">
                {% if user %}
                    <a href="/profile">View Profile</a> |
                    {{user.userName}} (<a href="/logout">logout</a>)
                {% else %}
                  <a href="/login">login</a> |
                  <a href="/signup">signup</a>
                {% endif %}
            </div>
            <h1 class="midform"><a href="/">NDN-Health</a></h1>
            <hr>
        </header>
        <p class="with_background">
            This is a testbed for an IoT-NDN-WBAN project.
        </p>

	</body>
</html>